# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IBK Git-ignore
/bin/
debug/
debug_x64/
release/
release_x64/
lib_x64/
lib/
moc/
ui/
build*/
cmake_local/
VC8/
VC9/
VC10/
VC12/
VC14/
BCB2007/
.svn/

Makefile.Debug
Makefile.Release
Makefile
*.obj
*.qmake.stash
*.pro.user
*.pro.user*
*.cpp.autosave
*.h.autosave
*.autosave
*.lib
*.pdb
/externals/lib_x64/
